
  .bg-custom-2 {
    background-image: linear-gradient(90deg,#bd3381 0%, #ed5740 100%)
}

a {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 22px;
}

#instagram {
    margin-top: .7rem;
    color: #fefffe;
    margin-left: 1.7rem !important;
    letter-spacing: 1px;
}

#find {
    font-size: 27px;
    color: #fefffe;
    margin-bottom: .7rem;
    margin-left: 1.7rem !important;
    letter-spacing: .5px;
}

#get {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fefffe;
    background-color: transparent;
    background-image: none;
    border-color: #fefffe;
    padding: 20px 20px;
    border: 2.5px solid #fefffe;
    border-radius: 8px;
    margin-right: 1.6rem;
}

/*body*/

.br1 {
    content: "";
    margin: 2em;
    display: block;
}

#translate {
    font-size: 32px;
    color: #8e8e8e;
    text-align: center;
    letter-spacing: 1px;
}

.logo {
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: -30px;
}

#sign {
    font-size: 34px;
    color: #8e8e8e;
    text-align: center;
    letter-spacing: 1px;
}

.btn {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: 600 !important;
    font-size: 35px !important;
    color: #fff;
	background-color: #0095f6;
    border: 1px solid #0095f6;
    border-radius: 10px !important;
    padding: 13px 0px !important;
    margin-top: 14px;
    width: 638px;
}

#facebook {
    margin-top: -5px;
    margin-right: 22px;
    width: 40px !important;
    border-radius: 4px;
}

.line {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700; 
    background-color: white; 
    padding: 0 40px;
    color: #8e8e8e;
}

.or {
    width: 65%; 
    height: 22px; 
    border-bottom: 2px solid #dadbda;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.wrapper .header .content #add-cafe-form .input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
	height: 80px;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 30px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

.wrapper .header .content #add-cafe-form .input:focus{
	border: 1px solid #b2b2b2;
}

button {
	color: #fff;
	display: block;
}