
img {
    pointer-events: none;
}
  .bg-custom-2 {
    background-image: linear-gradient(90deg,#bd3381 0%, #ed5740 100%)
}

.nav-text {
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 22px;
}

#instagram {
    margin-top: .7rem;
    color: #fefffe;
    margin-left: 1.7rem !important;
    letter-spacing: 1px;
}

#find {
    font-size: 27px;
    color: #fefffe;
    margin-bottom: .7rem;
    margin-left: 1.7rem !important;
    letter-spacing: .5px;
}

#get {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fefffe;
    background-color: transparent;
    background-image: none;
    border-color: #fefffe;
    padding: 20px 20px;
    border: 2.5px solid #fefffe;
    border-radius: 8px;
    margin-right: 1.6rem;
}

/*body*/

.br1 {
    content: "";
    margin: 4em;
    display: block;
}

#translate {
    font-size: 32px;
    color: #8e8e8e;
    text-align: center;
    letter-spacing: 1px;
}

.logo {
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: -30px;
}

#sign {
    font-size: 34px;
    color: #8e8e8e;
    text-align: center;
    letter-spacing: 1px;
}

.btn {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: 600 !important;
    font-size: 35px !important;
    color: #fff;
	background-color: #0095f6;
    border: 1px solid #0095f6;
    border-radius: 10px !important;
    padding: 13px 0px !important;
    margin-top: 14px;
    width: 65%;
}

#facebook {
    margin-top: -5px;
    margin-right: 22px;
    width: 40px !important;
    border-radius: 4px;
}

.line {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700; 
    background-color: white; 
    padding: 0 40px;
    color: #8e8e8e;
}

.or {
    width: 65%; 
    height: 22px; 
    border-bottom: 2px solid #dadbda;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.wrapper .header .content #add-user-form .input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 90px;
	background: #fafafa;
	border: 2px solid #dadbda;
	font-size: 30px;
    border-radius: 8px;
    padding-left: 20px;
    -webkit-appearance: none;
    letter-spacing: .6px;
}

input:focus {
    outline: none;
    border: 2px solid #a8a8a8 !important;
}


.br2 {
    content: "";
    margin: 1em;
    display: block;
}

.forgot{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 370px;
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: .6px;
}

.login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: 600 !important;
    font-size: 35px !important;
    color: #fff;
    border-radius: 10px !important;
    padding: 10px 0px !important;
    margin-top: 50px;
    width: 65%;
}

.login:disabled {
    background-color: #b2defc;
    border: 1px solid #b2defc;
}
.login:enabled {
    background-color: #0095f6;
    border: 1px solid #0095f6;
}

.account {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 45px;
    font-size: 34px;
    color: #8e8e8e;
    text-align: center;
    letter-spacing: .6px;
}

#sign {
    font-weight: 700;
    color:  #0095f6;
}

/*footer*/

#footer {
	width:100%;
}

.br3 {
    content: "";
    margin: 28em;
    display: block;
}

#links {
	text-align: center;
}
.footer .links ul li{
	display: inline-block;
	margin-right: 40px;
	text-align:center;
}

.footer .links ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #8e8e8e;
	font-size: 30px;
    text-align:center;
}

.br3 {
    content: "";
    margin: 22.5em;
    display: block;
}

.br5 {
    content: "";
    padding-top: 2em;
    display: block;
}

.footer  {
    height: 330px;
}
