
  .bg-custom-2 {
    background-image: linear-gradient(90deg,#bd3381 0%, #ed5740 100%)
}

a {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 22px;
}

#instagram {
    margin-top: .7rem;
    color: #fefffe;
    margin-left: 1.7rem !important;
}

#find {
    font-size: 27px;
    color: #fefffe;
    margin-bottom: .7rem;
    margin-left: 1.7rem !important;
}

.btn-outline {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #fefffe;
    background-color: transparent;
    background-image: none;
    border-color: #fefffe !important;
    padding: 5px 20px !important;
    border-width: 3px !important;
    border-radius: 7px !important;
    margin-right: 1.5rem !important;
}
